.pokemonList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-top: 6rem;
  padding-left: 0;
  width: 70%;
  margin: auto;
}

@media (max-width: 796px) {
  .pokemonList {
    width: 90%;
  }
}
